.p1{
  font-family: 'Black Han Sans',Avantgarde, TeX Gyre Adventor, sans-serif;
    font-size: 16px;
}

.p2{
  font-family: 'Gamja Flower',Comic Sans MS, Comic Sans, cursive;
    font-size: 18px;
}
h2{
  text-align: center;
}
